#file-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#menu-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-right: 1px solid #ccc;
}

#file-iframe-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 10px;
}
